 .footer{
            background-color: rgb(175, 175, 175);
            text-align: center;
            border-style: dotted;
            border-radius: 10px;
            position: fixed;
            bottom: 10px;
            right: 10px;
            padding: 10px;
        }

        .dark_mode .footer{
            background-color: #555;
        }
        
#cart-items {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    background: #f3f3f3;
    padding: 10px;
    border-radius: 10px;
}

.cart-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
}

.remove-btn {
    padding: 5px 10px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s;
}

.remove-btn:hover {
    background-color: #e60000;
}

#reset-cart {
    padding: 10px 20px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
}

#reset-cart:hover {
    background-color: #e60000;
}

.alert-box{
    position: fixed;
    top: 20px;
    right: -270px; /* hidden */
    padding: 15px 22px;
    background: #28a745;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    transition: right 0.6s ease;
    z-index: 1000;
}

.alert-show{
    right: 20px !important;
}

.alert-error{
    background: #d62828 !important;
}